<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to Lifestyle Articles</h1>
  <h2>
    This is the home page for the <a href="#">Lifestyle articles website</a>.
  </h2>
</div>