<div class="row">

  <div class="col-sm col-md-3">
    <div class="media">
      <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>

  <div class="col-sm col-md-3">
    <div class="media">
      <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>

  <div class="col-sm col-md-3">
    <div class="media">
      <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>

  <div class="col-sm col-md-3">
    <div class="media">
      <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
</div>




<div class="row">

  <div class="col-sm col-md-3">
    <div class="article-wrap">
      <div>
        <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      </div>
      <div class="article-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>

  <div class="col-sm col-md-3">
    <div class="article-wrap">
      <div>
        <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      </div>
      <div class="article-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>

  <div class="col-sm col-md-3">
    <div class="article-wrap">
      <div>
        <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      </div>
      <div class="article-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>

  <div class="col-sm col-md-3">
    <div class="article-wrap">
      <div>
        <img class="mr-3" src="https://yt3.ggpht.com/a/AATXAJxYAYKB02svZ_SAnGhTlFbgs5kHVMRdAXEAQ88Xdg=s48-c-k-c0xffffffff-no-rj-mo" alt="Generic placeholder image">
      </div>
      <div class="article-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>
</div>

<img alt="Rails logo" src="/assets/rails.svg">




<header id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <a href="/" id="logo">LiFEsTyle<span class="dot"></span></a>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse"id="bs-example-navbar-collapse-1">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "Fashon", '#' %></li>
        <li class="nav-link"><%= link_to "Business", '#' %></li>
        <li class="nav-link"><%= link_to "Sports", '#' %></li>
        <li class="nav-link"><%= link_to "Entertainment", '#' %></li>
        <li class="nav-link"><%= link_to "Magazine", '#' %></li>
        <li class="nav-link"><%= link_to "TV", '#' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "Register", new_user_registration_path %></li>
      </ul>
    </nav>
  </div> 
</header>
