@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:
  border-box;
  -webkit-box-sizing: border-box;
  box-sizing:
  border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
body {
  padding-top: 60px;
  background-color: #4d423c;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#header {
  background-color: #fff;
  margin: 8px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #4e443e;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  .dot {
    height: 8px;
    width: 8px;
    margin-left: 2px;
    background-color: #f76107;
    border-radius: 50%;
    display: inline-block;
  }
}

.navbar-inverse .navbar-nav {
  li > a {
    color: #a39f9c;

    &:hover {
     color: inherit;
     font-weight: bolder;
     text-decoration: none;
   }
  }

  li:first-of-type > a{
    color: #fba36e;
  }
  text-transform: uppercase;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  h2 {
    color: red;
    margin: 0 0 30px 0;
  }
}
  .field_with_errors {
  @extend .has-error;
  .form-control {
  color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
  // margin-left: 20px;
  font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}