@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:
  border-box;
  -webkit-box-sizing: border-box;
  box-sizing:
  border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
body {
  margin-top: 80px;
  background-color: #4e443e;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
$gray-light: #777;

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #4e443e;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.dot {
  height: 12px;
  width: 12px;
  margin-left: 3px;
  background-color: #f76107;
  border-radius: 50%;
  display: inline-block;
  // margin-bottom: 4px;
}

.home-page-brand {
  font-size: 2em;
  color: #4e443e;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-nav {
  li > a {
    color: #a39f9c;

    &:hover {
     color: inherit;
     font-weight: lighter;;
     text-decoration: none;
   }
  }

  .active > a {
    color: #fba36e !important;
    font-weight: bold;
  }
  text-transform: uppercase;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  h2 {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -15px !important;
  margin-bottom: 10px;
  
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

textarea {
  height: 100px;
  margin-bottom: 5px;
}

.media {
  height: 250px;
  img {
    width: 50%;
    height: 100%;
  }

  .media-body {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fcfcfc;
    padding-left: 8px;
    color: #877;


    .cat-heading {
      display: inline-block;
      color:  #fb3;
      font-size: 1.2em;
      font-weight: bold;
      border-bottom: 2px solid #fb3;
      // padding-bottom: 1px;
    }

    .media-title {
      margin-top: 12px !important;
      color: #988;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.media-link {
  &:hover {
    text-decoration: none;
  }
}

.cat-body {
  background-repeat: no-repeat;
  background-position: center;
  
  a {
    display: inline-block;
    width: 100%;
    height: 250px;
    color: #fff !important;
  }

  .cat-heading {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #fb3;
  }
}


/*FOOTER*/

footer {
  background: #4e443f;
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #f45e05;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;

  li {
    display: inline;
    margin: 0 5px;
  }
}

/* footer social icons */

.social-network {
  a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  a.icoFacebook:hover {
    background-color: #3B5998;
  }

  a.icoGitHub:hover {
    background-color: #222;
  }
  a.icoTwitter:hover {
    background-color: #2af;    
  }

  a.icoInstagram:hover {
    background-color: #222;    
  }

  a {
    background-color:  #f45e05;
  }

  &:hover i {
    color: #fff;
  }
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li {
  i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }

  a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}


.votes-icons {
  position: absolute;
  bottom: 6px;
  right: 13vw;

  span {
    color: #544;
  }

  i {
    font-size: 1.8em;
    text-align: center;
  }

  &:hover i {
    font-weight: bold;;
  }
}

.thumbs-down {
  position: absolute;
  bottom: 6px;
  right: 2vw;

  i {
    font-size: 1.8em;
    text-align: center;
    color: #222;
  }

  &:hover i {
    color: #e33;
  }
}
