@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:
  border-box;
  -webkit-box-sizing: border-box;
  box-sizing:
  border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
body {
  margin-top: 80px;
  background-color: #4d423c;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
$gray-light: #777;

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #4e443e;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin-left: 3px;
    background-color: #f76107;
    border-radius: 50%;
    display: inline-block;
    // margin-bottom: 4px;
  }
}

.navbar-nav {
  li > a {
    color: #a39f9c;

    &:hover {
     color: inherit;
     font-weight: bolder;
     text-decoration: none;
   }
  }

  .active > a {
    color: #fba36e !important;
  }
  text-transform: uppercase;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
  }

  li {
    float: left;
    margin-left: 15px;
  }
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  h2 {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -15px !important;
  margin-bottom: 10px;
  
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

textarea {
  height: 100px;
  margin-bottom: 5px;
}

.media {
  img {
    width: 50%;
    height: 100%;
  }

  .media-body {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fcfcfc;
    padding-left: 12px;
    color: #877;


    .cat-heading {
      display: inline-block;
      color:  #fb3;
      font-size: 1.2em;
      font-weight: bold;
      border-bottom: 2px solid #fb3;
      // padding-bottom: 1px;
    }

    .media-title {
      margin-top: 12px !important;
      color: #988;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.media-link {
  &:hover {
    text-decoration: none;
  }
}
