<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Heading 1</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Payment Center</a></li>
              <li><a href="#">Contact Directory</a></li>
              <li><a href="#">Forms</a></li>
              <li><a href="#">News and Updates</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Heading 2</h4>
            <ul class="list-unstyled">
              <li><a href="#">Website Tutorial</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Webmaster</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Heading 3</h4>
            <ul class="list-unstyled">
              <li><a href="#">Parks and Recreation</a></li>
              <li><a href="#">Public Works</a></li>
              <li><a href="#">Police Department</a></li>
              <li><a href="#">Fire</a></li>
              <li><a href="#">Mayor and City Council</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Me</h4>
          <ul class="social-network social-circle">
            <li><a href="https://web.facebook.com/su.ezeilo/" class="icoFacebook" target="_blank"><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/sunday-ezeilo-a6a67664/" class="icoLinkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/ezeilo-su" class="icoGitHub"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/SundayEzeilo" class="icoTwitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/sunday_ezeilo/" class="icoInstagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>          
          </ul>				
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2020 - Sunday Ezeilo.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>











<!--<footer class="footer">
  <small>
    The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>-->