<footer class="footer" role="contentinfo">
  <div class="row">

    <div class="footer-wrap d-md-flex">
      
      <div class="col-md footer-brand">
        <a href="/" class="page-brand">IoTPost<span class="dot"></span></a>
      </div>

      <div class="col-md copy d-md-flex justify-content-center">
        <div class="privacy-text mr-2">Privacy policy Terms &amp; Conditions</div>
        <div> &copy; Copyright 2020.  All rights reserved.</div>
      </div>

      <div class="col-md social-wrap">
        <span class="m-0 p-0">Connect with me:</span>
        <ul class="social-network">
          <li class="social-circle"><a href="https://web.facebook.com/su.ezeilo/" class="icoFacebook" target="_blank"><i class="fa fa-facebook social-icons"  aria-hidden="true"></i></a></li>
          <li class="social-circle"><a href="https://www.linkedin.com/in/sunday-ezeilo-a6a67664/" class="icoLinkedin" target="_blank"><i class="fa fa-linkedin social-icons" aria-hidden="true"></i></a></li>
          <li class="social-circle"><a href="https://github.com/ezeilo-su" class="icoGitHub"  target="_blank"><i class="fa fa-github social-icons" aria-hidden="true"></i></a></li>
          <li class="social-circle"><a href="https://twitter.com/SundayEzeilo" class="icoTwitter" target="_blank"><i class="fa fa-twitter social-icons" aria-hidden="true"></i></a></li>
          <li class="social-circle"><a href="https://www.instagram.com/sunday_ezeilo/" class="icoInstagram" target="_blank"><i class="fa fa-instagram social-icons" aria-hidden="true"></i></a></li>          
        </ul>				
      </div>
    </div>
  </div>
</footer> 
